---
import { SITE, PORT } from '~/config.mjs';

import Layout from '~/layouts/BlogLayout.astro';
import PortfolioList from '~/components/portfolio/PortfolioList.astro';
import Pagination from '~/components/atoms/Pagination.astro';
import Picture from '~/components/core/Picture.astro';

import { fetchPortfolios } from '~/utils/portfolios';
import { getCanonical, getPermalink, PORT_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
	if (PORT?.disabled || PORT?.porfolio?.disabled) return [];

	const portfolios = await fetchPortfolios();

	return paginate(portfolios, {
		params: { portfolio: PORT_BASE || undefined },
		pageSize: PORT.postsPerPage,
	});
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
	title: `Portfolio ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink(page.url.current)),
	ogType: "portfolio",
	noindex: currentPage > 1
};
---

<Layout {meta}>
	<Fragment slot="title">
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-secondary-600 to-primary-600">Portfolio</span>
		<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
			The Big Bang Theory Episode Guide APP!
		</h1>
		<div class="max-w-3xl mx-auto">
			<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
				Are you a fan of The Big Bang Theory? I have an episode guide for you! Using SwiftUI, Swift and API rest with the series episodes and info I built an application to help you track your favorite episodes.
			</p>
			<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
				You can see the application in my GitHub repository -> <a href="https://github.com/jsanzdev/BBTGuide">Click here!</a>
			</p>
		</div>
		<div>
			<div class="relative mb-8 m-auto max-w-3xl">
				<Picture
					src={import('~/assets/images/TBTT.png')}
					class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700"
					widths={[400, 100]}
					sizes=" (max-width: 100px) 400px, 100px"
					alt="The Big Bang Theory Episode Guide"
					aspectRatio="9:20"
				/>
			</div>
		</div>
		<br>
		<br>
		<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
			Story Book - A book Store!
		</h1>
		<div class="max-w-3xl mx-auto">
			<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
				Using SwiftUI, Swift and API rest with the series episodes and info I built a Book Store application. The API that I worked with had different functions like geting random books as the latest books. I also used the API to get the book details and the book cover. You can mark books as read and see the list on a different tab. All the data is in the server and nothing is stored on the device.
			</p>
			<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
				You can see the application in my GitHub repository -> <a href="https://github.com/jsanzdev/BookStory">Click here!</a>
			</p>
		</div>
		<div>
			<div class="relative mb-8 m-auto max-w-3xl">
				<Picture
					src={import('~/assets/images/bookstory.png')}
					class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700"
					widths={[400, 100]}
					sizes=" (max-width: 200px) 400px, 100px"
					alt="The Big Bang Theory Episode Guide"
					aspectRatio="9:20"
				/>
			</div>
		</div>
	</Fragment>
	<!-- <PortfolioList portfolios={page.data} /> -->
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
